.page {
  max-width: 2000px;
  margin: 0 auto;
  font-family: 'Inter';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: white;
  background-color: #2A2C2F;
}

@media (max-width: 1279px) {
  .page {
    max-width:  1279px;
  }
}

@media (max-width: 767px) {
  .page {
    box-sizing: border-box;
  }
}
