.cover {
  position: relative;
  display: flex;
  align-items: center;
  margin: 92px auto 0;
  background: url('../../images/__background-train.png');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 740px;
  object-fit: cover;
}

@media (max-width: 1279px) {
  .cover {
    min-height: 640px;
  }
}

@media (max-width: 1023px) {
  .cover {
    margin: 90px auto 0;
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .cover {
    margin: 66px auto 0;
    min-height: 200px;
  }
}
