.section-title__text {
  width: 720px;
  margin: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

@media (max-width: 767px) {
  .section-title__text {
    width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}
