.place {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 48px;
  margin: 80px auto 0;
  width: 84%;
}

@media (max-width: 1279px) {
  .place {
    justify-content: flex-start;
    gap: 48px 32px;
    width: 93%;
    margin: 80px 48px 0;
  }
}

@media (max-width: 1023px) {
  .place {
    gap: 48px 28px;
    width: 96%;
    margin: 72px 24px 0;
  }
}

@media (max-width: 767px) {
  .place {
    width: 100%;
    gap: 32px;
    margin: 64px 0 0 0;
  }
}
