.footer {
  display: flex;
  margin: 92px 48px 24px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1023px) {
  .footer {
    margin: 88px 24px 24px;
  }
}

@media (max-width: 767px) {
  .footer {
    margin: 64px 16px 24px;
    row-gap: 48px;
    flex-direction: column;
    align-items: flex-start;
  }
}
