.place__website {
  display: flex;
  width: calc(50% - 76px);
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
}

@media (max-width: 767px) {
  .place__website {
    width: 100%;
    margin: 0 16px 0px;
  }
}
